body {
    background-color: rgb(40, 44, 52);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    margin-top: 100px;
}

div h1 {
    color: azure;
}

header {
    display: flex;
    justify-content: flex-end;
}

i {
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}



@media screen and (max-width:800px) {
    div {
        margin-top: 61px;
    }
}
